<div class="col-md-{{ length }}">
    <div class="form-group">
        <label class="control-label {{ active ? 'active' : '' }}">{{ label | trans }}</label>

        <input type="text" name="{{ name }}" class="form-control" value="{{ value }}">
    </div>
</div>
